<a href="/pun/sys/dashboard/noVNC-1.0.0/vnc.html?autoconnect=true&password=<%= password %>&path=rnode/<%= host %>/<%= websocket %>/websockify&resize=off" class="btn btn-primary" target="_blank">
  <i class="fa fa-eye"></i> Launch noVNC (fixed-size desktop)
</a>
<a href="/pun/sys/dashboard/noVNC-1.0.0/vnc.html?autoconnect=true&password=<%= password %>&path=rnode/<%= host %>/<%= websocket %>/websockify&resize=remote" class="btn btn-primary" target="_blank">
  <i class="fa fa-eye"></i> Launch noVNC (scale desktop to window)
</a>
<a href="/pun/sys/dashboard/noVNC-1.0.0/vnc.html?autoconnect=true&password=<%= spassword %>&path=rnode/<%= host %>/<%= websocket %>/websockify&resize=downscale" class="btn btn-default pull-right" target="_blank">
  View Only (Share-able Link)
</a>
