<a href="/pun/sys/dashboard/noVNC-1.0.0/vnc.html?autoconnect=true&password=<%= password %>&path=rnode/<%= host %>/<%= websocket %>/websockify&resize=off" class="btn btn-dark" target="_blank">
  <i class="fa fa-eye"></i> Launch noVNC in New Tab YOLO1
</a>
<a href="/pun/sys/dashboard/noVNC-1.0.0/vnc.html?autoconnect=true&password=<%= spassword %>&path=rnode/<%= host %>/<%= websocket %>/websockify&resize=downscale" class="btn btn-warning pull-right" target="_blank">
  View Only (Share-able Link)
</a>
